<section class="section blog_list_banner">
  <div class="container">
    <div class="blog_list_banner_wrapper">
      <h2 class="blog_list_banner_title">Stories</h2>
      <div class="blog_list_filter">
        <select id="blog_list_filter" name="filter">
          <option selected value="all_types">All Stories</option>
          <option value="Company">Company</option>
          <option value="Technology">Technology</option>
          <option value="Events">Events</option>
          <option value="Manufacturing">Manufacturing</option>
          <option value="Engineering">Engineering</option>
          <option value="Design">Design</option>
          <option value="People">People</option>
        </select>
      </div>
    </div>
  </div>
</section>

<section class="section blog_list_content">
  <div class="container">
    <div class="blog_list">

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/001.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Jul 26 2021</span>
            <span><a href="#">Company</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">A note from our CEO on Lucid going public.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/002.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Jun 20 2021</span>
            <span><a href="#">Technology</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">Lucid Care. Service made seamless.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/003.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>May 2 2021</span>
            <span><a href="#">Events</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">Now open: Our new Lucid Studio in Manhattan.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/004.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>April 26 2021</span>
            <span><a href="#">Technology</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">Introducing the instantly intuitive Lucid User Experience.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/005.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Mar 26 2021</span>
            <span><a href="#">Manufacturing</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">Take the grand tour of our first factory: AMP-1.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/006.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Mar 20 2021</span>
            <span><a href="#">Engineering</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">The cold weather testing results for Lucid Air are in.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/007.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Mar 15 2021</span>
            <span><a href="#">Manufacturing</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">The future of our factory starts with the paint shop.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/008.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Mar 8 2021</span>
            <span><a href="#">Technology</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">Introducing our custom-designed immersive audio system: Surreal Sound.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/009.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Feb 27 2021</span>
            <span><a href="#">Company</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">A note from our CEO on Lucid going public.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/010.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Feb 26 2021</span>
            <span><a href="#">Engineering</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">The future of our factory starts with the paint shop.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/011.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Feb 12 2021</span>
            <span><a href="#">Company</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">A note from Peter Rawlinson.</a>
          </h2>
        </div>
      </div>

      <div class="blog_list_item">
        <div class="blog_list_image">
          <a href="blog-detail.html">
            <img src="img/blog/012.jpg" alt="">
          </a>
        </div>

        <div class="blog_list_desc">
          <div class="blog_list_id">
            <span>Jan 19 2021</span>
            <span><a href="#">Company</a></span>
          </div>
          <h2 class="blog_list_title">
            <a href="blog-detail.html">Now open: Our new Lucid Studio in West Palm Beach.</a>
          </h2>
        </div>
      </div>

    </div>
  </div>

  <div class="blog_list_more">
    <button class="btn_2">More Stories</button>
  </div>
</section>