<section class="company_hero">
  <div class="company_hero_outer">
    <div class="company_hero_image"></div>
  </div>
  <div class="company_hero_inner">
    <h2>Company</h2>
  </div>
</section>

<section class="company_intro">
  <p>The spirit of California moves us to think beyond mobility, and design for a world where life is the most important journey we’ll ever take; to look beyond tomorrow and shape a future where we no longer have to choose between doing great things and doing the right thing; and to explore beyond ourselves, and create experiences that remind us what it’s like to feel truly alive.</p>
</section>

<div class="company_module">
  <div class="company_module_image">
    <img src="img/company/sustainability.jpg" alt="">
  </div>
  <div class="company_module_desc">
    <div class="company_module_content">
      <h2>Sustainability</h2>
      <p>We aim to create sustainable mobility without compromise in cars that are intuitive, liberating, and designed for all the ways people get around. At Lucid, we place an exceptionally high priority on efficiency — our cars must make the best possible use of the world’s resources. So, every Lucid delivers exceptional range without sacrificing high performance or sublime comfort.</p>
      <a href="#" class="company_module_btn">Discover</a>
    </div>
  </div>
</div>

<div class="company_module">
  <div class="company_module_image">
    <img src="img/company/leadership.jpg" alt="">
  </div>
  <div class="company_module_desc">
    <div class="company_module_content">
      <h2>Leadership</h2>
      <p>Lucid’s leadership team brings to our Silicon Valley headquarters an extraordinary depth of knowledge and experience from the automotive and technology industries. They’re leading us forward to a more sustainable future as we use proprietary electric vehicle technology to reinvent the category for each type of car we build.</p>
      <a href="team-list.html" class="company_module_btn">Discover</a>
    </div>
  </div>
</div>

<div class="company_module">
  <div class="company_module_image">
    <img src="img/company/careers.jpg" alt="">
  </div>
  <div class="company_module_desc">
    <div class="company_module_content">
      <h2>Careers</h2>
      <p>Come work alongside some of the most accomplished minds in the automotive and technology industries. Beyond competitive salaries, we are creating a community for innovators who want to make a significant — and immediate — contribution to the future of sustainable mobility.</p>
      <a href="#" class="company_module_btn">Discover</a>
    </div>
  </div>
</div>

<div class="company_factory">
  <div class="company_factory_content">
    <h2>Lucid Motors Factory</h2>
    <p>After evaluating over 60 sites in 13 states for the Lucid Motors factory, we chose a 500-acre property in Casa Grande, Arizona. Located between Phoenix and Tucson — and within easy reach of our Silicon Valley headquarters — the Casa Grande offered close proximity to critical utilities, an established transportation system, and strong support from state and local governments.</p>
    <p>This facility is the first greenfield — or purpose-built — EV factory in North America. Designed to our exact specifications, it is being built with such efficiency and speed that we will complete construction of its first phase a mere 12 months after breaking ground. Outfitted with the world’s most advanced production line equipment, the factory will have the initial capacity to produce 10,000 cars a year — and over 300,000 annually with planned expansion.</p>
  </div>
</div>