<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta info -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- site identity -->
  <title>Car Lucidmotors</title>
  <link rel="shortcut icon" href="img/favicon/favicon-32x32.png" />

  <!-- CSS library -->
  <link rel="stylesheet" type="text/css" href="vendor/fontawesome/css/all.min.css" />

  <!-- custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>

<body>
  <!-- header -->
  <header class="header header_2">
    <div class="header_bg"></div>
    <div class="main_nav">
      <ul class="main_menu primary_menu">
        <li>
          <a href="#">
            <span class="main_menu_label">Lucid air</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="main_menu_label">Design yours</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="main_menu_label">Reserve</span>
          </a>
        </li>
      </ul>

      <div class="logo_wrap">
        <a href="index.html" class="logo">
          <img src="img/logo/logo-black.svg" alt="logo">
        </a>
      </div>

      <ul class="main_menu secondary_menu">
        <li class="link_signin">
          <a href="#">
            <span class="main_menu_label">Sign in</span>
          </a>
        </li>
        <li>
          <a class="btn_primary" href="#">
            <canvas class="canvas"></canvas>
            <span class="label">Stay updated</span>
          </a>
        </li>
        <li>
          <div class="btn_hamburger">
            <div class="btn_hamburger_wrap">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
  <!-- header -->

  <!-- overlay menu -->
  <div class="overlay"></div>

  <nav class="sidenav">
    <div class="btn_close">
      <div class="btn_close_wrap">
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>

    <ul class="sidenav_list">
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Stay Updated</a></li>
    </ul>

    <ul class="sidenav_menu">
      <li>
        <button>Lucid Air
          <span class="btn_expand">
            <span class="line"></span>
            <span class="line"></span>
          </span>
        </button>
        <ul class="sidenav_expandable_menu">
          <li><a href="#">Overview</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Performance</a></li>
          <li><a href="#">Charging</a></li>
          <li><a href="#">Connectivity</a></li>
          <li><a href="#">Specs</a></li>
          <li><a href="#">Dream Edition</a></li>
        </ul>
      </li>
      <li><a href="#">Design Yours</a></li>
      <li><a href="#">Reserve</a></li>
    </ul>

    <ul class="sidenav_menu">
      <li>
        <button>More about Lucid
          <span class="btn_expand">
            <span class="line"></span>
            <span class="line"></span>
          </span>
        </button>
        <ul class="sidenav_expandable_menu">
          <li><a href="#">Race-proven Performance</a></li>
          <li><a href="#">Purchase & Ownership</a></li>
          <li><a href="#">Project Gravity</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>
      <li>
        <button>Company
          <span class="btn_expand">
            <span class="line"></span>
            <span class="line"></span>
          </span>
        </button>
        <ul class="sidenav_expandable_menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Leadership</a></li>
          <li><a href="#">Sustainability</a></li>
        </ul>
      </li>
      <li><a href="#">Investors</a></li>
      <li><a href="#">Stories</a></li>
      <li><a href="#">Careers</a></li>
    </ul>

    <ul class="sidenav_menu">
      <li><a href="#">Contact</a></li>
      <li><a href="#">Locations</a></li>
      <li><a href="#">Events</a></li>
    </ul>

    <ul class="sidenav_list">
      <li><a href="#">Media Room</a></li>
      <li><a href="#">Legal</a></li>
    </ul>

    <ul class="sidenav_social">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </nav>
  <!-- overlay menu -->

  <!-- main viewport -->
  <main class="viewport">