<section class="section team_list_banner">
  <div class="container">
    <div class="team_list_banner_wrapper">
      <h2 class="team_list_banner_title">Meet our leadership</h2>
    </div>
  </div>
</section>

<section class="section team_list_content">
  <div class="container">
    <div class="team_list_wrapper">
      <div class="team_list">

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/001.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Peter Rawlinson</a>
            </h2>
            <h3 class="team_list_designation">CEO & CTO</h3>
          </div>
        </div>

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/002.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Sherry House</a>
            </h2>
            <h3 class="team_list_designation">Chief Financial Officer</h3>
          </div>
        </div>

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/003.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Derek Jenkins</a>
            </h2>
            <h3 class="team_list_designation">Senior Vice President of Design and Brand</h3>
          </div>
        </div>

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/004.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Peter Rawlinson</a>
            </h2>
            <h3 class="team_list_designation">Chief Financial Officer</h3>
          </div>
        </div>

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/005.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Eric Bach</a>
            </h2>
            <h3 class="team_list_designation">Senior Vice President of Product and Chief Engineer</h3>
          </div>
        </div>

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/006.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Michael Bell</a>
            </h2>
            <h3 class="team_list_designation">Senior Vice President of Digital</h3>
          </div>
        </div>

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/007.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Margaret Burgraff</a>
            </h2>
            <h3 class="team_list_designation">Vice President of Software Validation</h3>
          </div>
        </div>

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/008.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Jonathan Butler</a>
            </h2>
            <h3 class="team_list_designation">Vice President, General Counsel</h3>
          </div>
        </div>

        <div class="team_list_item">
          <div class="team_list_image">
            <a href="team-detail.html">
              <img src="img/team/009.jpg" alt="">
            </a>
          </div>

          <div class="team_list_desc">
            <h2 class="team_list_name">
              <a href="team-detail.html">Michael Carter</a>
            </h2>
            <h3 class="team_list_designation">Vice President of People</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>