<section class="section home_blog_list">
  <div class="home_blog_list_title">
    <h2>Our stories</h2>
    <a class="btn_primary" href="blog-list.html">
      <canvas class="canvas"></canvas>
      <span class="label">View all</span>
    </a>
  </div>

  <div class="swiper home_blog_list_slider">
    <div class="swiper-wrapper home_blog_list_wrapper">

      <div class="swiper-slide home_blog_list_slide">
        <div class="home_blog_list_slide_wrapper">
          <div class="home_blog_list_image_wrapper">
            <a class="home_blog_list_image" href="blog-detail.html">
              <img src="img/blog/001.jpg" alt="">
            </a>
          </div>
          <h2>Now open: Our new Lucid Studio in Manhattan.</h2>
          <p>Jun 30 2021 / Events</p>
        </div>
      </div>

      <div class="swiper-slide home_blog_list_slide">
        <div class="home_blog_list_slide_wrapper">
          <div class="home_blog_list_image_wrapper">
            <a class="home_blog_list_image" href="blog-detail.html">
              <img src="img/blog/002.jpg" alt="">
            </a>
          </div>
          <h2>Now open: Our new Lucid Studio in Manhattan.</h2>
          <p>Jun 30 2021 / Events</p>
        </div>
      </div>

      <div class="swiper-slide home_blog_list_slide">
        <div class="home_blog_list_slide_wrapper">
          <div class="home_blog_list_image_wrapper">
            <a class="home_blog_list_image" href="blog-detail.html">
              <img src="img/blog/003.jpg" alt="">
            </a>
          </div>
          <h2>Now open: Our new Lucid Studio in Manhattan.</h2>
          <p>Jun 30 2021 / Events</p>
        </div>
      </div>

      <div class="swiper-slide home_blog_list_slide">
        <div class="home_blog_list_slide_wrapper">
          <div class="home_blog_list_image_wrapper">
            <a class="home_blog_list_image" href="blog-detail.html">
              <img src="img/blog/004.jpg" alt="">
            </a>
          </div>
          <h2>Now open: Our new Lucid Studio in Manhattan.</h2>
          <p>Jun 30 2021 / Events</p>
        </div>
      </div>

      <div class="swiper-slide home_blog_list_slide">
        <div class="home_blog_list_slide_wrapper">
          <div class="home_blog_list_image_wrapper">
            <a class="home_blog_list_image" href="blog-detail.html">
              <img src="img/blog/005.jpg" alt="">
            </a>
          </div>
          <h2>Now open: Our new Lucid Studio in Manhattan.</h2>
          <p>Jun 30 2021 / Events</p>
        </div>
      </div>

      <div class="swiper-slide home_blog_list_slide">
        <div class="home_blog_list_slide_wrapper">
          <div class="home_blog_list_image_wrapper">
            <a class="home_blog_list_image" href="blog-detail.html">
              <img src="img/blog/006.jpg" alt="">
            </a>
          </div>
          <h2>Now open: Our new Lucid Studio in Manhattan.</h2>
          <p>Jun 30 2021 / Events</p>
        </div>
      </div>

      <div class="swiper-slide home_blog_list_slide">
        <div class="home_blog_list_slide_wrapper">
          <div class="home_blog_list_image_wrapper">
            <a class="home_blog_list_image" href="blog-detail.html">
              <img src="img/blog/007.jpg" alt="">
            </a>
          </div>
          <h2>Now open: Our new Lucid Studio in Manhattan.</h2>
          <p>Jun 30 2021 / Events</p>
        </div>
      </div>

    </div>


    <button class="home_blog_list_slider_btn next" type="button">
      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false">
        <path d="M5.25514 11.0138H15.7106L10.9124 6.21565L12.1281 5L19.001 11.8729L12.1281 18.7458L10.9124 17.5302L15.7106 12.732H5.25514V11.0138Z"></path>
      </svg>
    </button>

    <button class="home_blog_list_slider_btn prev" type="button">
      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false">
        <path d="M5.25514 11.0138H15.7106L10.9124 6.21565L12.1281 5L19.001 11.8729L12.1281 18.7458L10.9124 17.5302L15.7106 12.732H5.25514V11.0138Z"></path>
      </svg>
    </button>


    <div class="home_blog_list_slider_pagination_wrap">
      <nav class="home_blog_list_slider_pagination"></nav>
    </div>
  </div>
</section>