<section class="section home_car_slider_sec">
  <div class="home_car_slider_bg">
    <div class="home_car_slider_bg_image">
      <img src="img/car/bg.jpg" alt="">
    </div>
  </div>

  <div class="swiper home_car_slider">
    <div class="swiper-wrapper home_car_slider_wrapper">

      <div class="swiper-slide home_car_slider_slide">
        <div class="home_car_slider_image">
          <img src="img/car/001.png" alt="">
        </div>
      </div>

      <div class="swiper-slide home_car_slider_slide">
        <div class="home_car_slider_image">
          <img src="img/car/002.png" alt="">
        </div>
      </div>

      <div class="swiper-slide home_car_slider_slide">
        <div class="home_car_slider_image">
          <img src="img/car/003.png" alt="">
        </div>
      </div>

      <div class="swiper-slide home_car_slider_slide">
        <div class="home_car_slider_image">
          <img src="img/car/004.png" alt="">
        </div>
      </div>

    </div>

    <button class="home_car_slider_btn next" type="button">
      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false">
        <path d="M5.25514 11.0138H15.7106L10.9124 6.21565L12.1281 5L19.001 11.8729L12.1281 18.7458L10.9124 17.5302L15.7106 12.732H5.25514V11.0138Z"></path>
      </svg>
    </button>

    <button class="home_car_slider_btn prev" type="button">
      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false">
        <path d="M5.25514 11.0138H15.7106L10.9124 6.21565L12.1281 5L19.001 11.8729L12.1281 18.7458L10.9124 17.5302L15.7106 12.732H5.25514V11.0138Z"></path>
      </svg>
    </button>

    <div class="home_car_slider_pagination_wrap">
      <nav class="home_car_slider_pagination">
        <span></span>
        <span></span>
      </nav>
    </div>
  </div>
</section>



<!--

      <div class="swiper-slide home_car_slider_item" style="pointer-events: none;">
        <div class="home_car_slider_image">
          <img src="img/car/001.png" alt="">
        </div>
        <div class="home_car_slider_item_desc">
          <h2 style="opacity: 0; visibility: hidden; transform: translate3d(0px, 1.806px, 0px);">Air Pure</h2>
          <p style="opacity: 0; visibility: hidden; transform: translate3d(0px, 4.9228px, 0px);">From $69,900
            <span data-disclaimer="¹ Amount includes a potential $7,500 US federal tax credit. ">¹</span> / 480 hp / 406 mi range
            <span data-disclaimer="² Range is based upon manufacturer's projected EPA estimated range when equipped with 19” wheels. Vehicle specifications are subject to change and EPA estimated ranges are not currently available. Actual range will be dependent on many factors, including battery age, driving habits, charging habits, temperatures, accessory use, and other factors as described in the owner's manual.">²</span>
          </p>
          <div class="Slide-module--buttons--2nFD9">
            <div class="Slide-module--button-wrapper--2CD10" style="opacity: 0; visibility: hidden; transform: translate3d(0px, 13.6405px, 0px);">
              <a href="/air/configure/?trim=air" class="ButtonPrimaryComponent-module--button--1vllh ButtonPrimaryComponent-module--white--1Glrs Slide-module--button--efCea">
                <canvas class="ButtonPrimaryComponent-module--background--198S4" width="160" height="65"></canvas>
                <span class="ButtonPrimaryComponent-module--label--1Obel ButtonPrimaryComponent-module--label--black--1D0P0">Design yours</span>
              </a>
            </div>
            <div class="Slide-module--button-wrapper--2CD10" style="opacity: 0; visibility: hidden; transform: translate3d(0px, 28.9125px, 0px);">
              <a href="/air/configure/?compare=1" class="ButtonTertiaryComponent-module--button--3N0Xt Slide-module--button--efCea">
                <span class="ButtonTertiaryComponent-module--label--2Ph1H">Compare models
                  <span class="ButtonTertiaryComponent-module--line--2JGMx"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

-->