<section class="section home_instagram">
  <div class="home_instagram_title">
    <h2>#LucidAir</h2>
    <a href="#">
      <span class="home_instagram_title_follow">Follow us</span>
      <i class="fab fa-instagram"></i>
      <span class="home_instagram_title_underline">@lucidmotors</span>
    </a>
  </div>

  <div class="swiper home_instagram_slider">
    <div class="swiper-wrapper home_instagram_slider_wrapper">

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/001.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/002.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/003.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/004.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/005.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/006.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/007.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/008.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/009.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/010.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/011.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/012.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/013.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/014.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide home_instagram_slide">
        <a class="home_instagram_slide_image" href="#">
          <img src="img/instagram/015.jpg" alt="">
        </a>
      </div>

    </div>
  </div>
</section>