<section class="section home_links">
  <div class="home_links_wrapper">

    <div class="home_link">
      <a href="#">
        <img src="img/banner/link-001.jpg" alt="">
        <span class="home_link_text">
          <span>Studios</span>
          <span>Our locations</span>
        </span>
      </a>
    </div>

    <div class="home_link">
      <a href="#">
        <img src="img/banner/link-002.jpg" alt="">
        <span class="home_link_text">
          <span>Careers</span>
          <span>Join Lucid</span>
        </span>
      </a>
    </div>

  </div>
</section>