<section class="section home_vision">
  <div class="home_vision_bg">
    <div class="home_vision_bg_image">
      <img src="img/banner/vision-background.jpg" alt="">
    </div>
  </div>
  <div class="home_vision_text">
    <h3>Our vision</h3>
    <p>At Lucid, we believe in the dream
      ahead. Our relentless focus on
      ahead. Our relentless focus on
      innovation, luxury, and sustainability
      innovation, luxury, and sustainability
      moves us toward a future where you no
      moves us toward a future where you no
      longer have to choose between doing
      longer have to choose between doing
      great things and doing the right thing.</p>
  </div>
</section>