/*------- custom fonts -------*/
@font-face {
  font-family: GTAmerica;
  src: url("../fonts/Gt-America-Font/GTAmerica-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: GTAmerica;
  src: url("../fonts/Gt-America-Font/GTAmerica-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: Titillium;
  src: url("../fonts/Titillium-Web/TitilliumWeb-Regular.ttf");
  font-weight: 400;
}
